#########################################
# dotfiles
#########################################
# .vim/.netrwhist
.netrwhist

# vim
*~
*.swp
__Tagbar__
NERD_tree_1

# eclipse
.classpath
.project
.settings/
eclipse-bin/
eclipse-build/

# TestNG
test-output/

# ctags
tags
cscope.out

# mac
.DS_Store

# fish shell and other stuff
dotfiles/.config/airbnb/
dotfiles/.config/configstore/update-notifier-npm.json
dotfiles/.config/fish/fish_history
dotfiles/.config/fish/fishd*
dotfiles/.config/gcloud/logs/
dotfiles/.config/gh/hosts.yml
dotfiles/.config/github-copilot/hosts.json
dotfiles/.config/hub
dotfiles/.vim/plugged/
dotfiles/.vim/sessions/
dotfiles/.vim/view/
dotfiles/.vim/swap/
dotfiles/.config/wireshark/
dotfiles/.config/pgcli/history
dotfiles/.config/pgcli/log
dotfiles/.config/gcloud
dotfiles/.config/configstore

# rubocop
rubocop_cache/

#########################################
# advent_of_code
#########################################
*.iml
.idea/
out/
.gradle/
build/

